<%- include('partials/header.ejs') %>
<!--Add new book button-->
<form action="/add-new-book" method="get">
    <button type="submit">Add new book</button>
</form>
<% if(locals.books && locals.books.length > 0) { %>
    <% locals.books.forEach(book => { %>
        <div>
            <img src="<%= book.cover_image %>" alt="cover-image">
            <h3><%= book.title%></h3>
            <p><b>ISBN:</b> <%= book.isbn%></p>
            <p><b>DATE READ:</b> <%= book.date_read%></p>
            <p><b>RATING:</b> <%= book.rating%>/10</p>
            <p><%= book.summary%></p>
        </div>
        <form action="/book-detail" method="post">
            <input type="hidden" name="bookId" value="<%= book.id %>">
            <button type="submit">Read my notes</button>
        </form>
    <% }); %>
<% } else {%>
    <p>No books added yet</p>
<% } %>


<%- include('partials/footer.ejs') %>